/* .themify_builder_4529_row.module_row_0 Style */
.themify_builder_4529_row.module_row_0.module_row {
	background-color: #000
}

.themify_builder .menu-4529-0-1-1.module-menu .nav li { font-family: 'Times New Roman', Times, serif; color: #ffffff; text-align: right; padding-right: 2px; padding-left: 2px;  } 
.themify_builder .menu-4529-0-1-1.module-menu { margin-right: 2px; margin-left: 2px;  } 
/* .themify_builder_4529_row.module_row_1 Style */
.themify_builder_4529_row.module_row_1.module_row {
	padding-bottom : 6%
}

.themify_builder .text-4529-2-0-1.module-text { background-color: #1db4eb; background-color: rgba(29,180,235, 0.95); font-family: Open Sans; font-size: 22px; line-height: 1.3em;  } 
.themify_builder .image-4529-2-0-2.module-image { padding-top: 6%;  } 
.themify_builder .slider-4529-2-0-3.module-slider { padding-top: 8px;  } 
.themify_builder .text-4529-2-1-1.module-text { background-color: #c7b17f; background-color: rgba(199,177,127, 0.98); font-size: 22px; line-height: 1.3em;  } 
.themify_builder .text-4529-2-1-2.module-text { line-height: 1.3em; padding-top: 6%; padding-bottom: 6%;  } 
