/* .themify_builder_4499_row.module_row_1 Style */
.themify_builder_4499_row.module_row_1.module_row {
	background-color: #91c3ff
}

/* .themify_builder_4499_row.module_row_2 Style */
.themify_builder_4499_row.module_row_2.module_row {
	background-color: #415987;
	padding-top : 10px
}

/* .themify_builder_4499_row.module_row_3 Style */
.themify_builder_4499_row.module_row_3.module_row {
	background-color: #000000;
	border-top: #c2b8b8 6px solid
}

.themify_builder .video-4499-3-1-1.module-video { padding-top: 0px;  } 
/* .themify_builder_4499_row.module_row_4 Style */
.themify_builder_4499_row.module_row_4.module_row {
	background-color: #23314d
}

