/* .themify_builder_4595_row.module_row_0 Style */
.themify_builder_4595_row.module_row_0.module_row {
	background-color: #000
}

/* .themify_builder_4595_row.module_row_1 Style */
.themify_builder_4595_row.module_row_1.module_row {
	padding-top : 6%
}

.themify_builder .text-4595-1-0-1.module-text { background-color: #1BB4E8;  } 
.themify_builder .text-4595-1-1-1.module-text { font-size: 1.2em; line-height: 1em;  } 
.themify_builder .text-4595-1-1-2.module-text { font-size: 1em; line-height: 1.3em; padding-bottom: 0px;  } 
